@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Raleway:wght@300;400;500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: #191b20;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.gradient-text {
  background: var(--txt-gradient, linear-gradient(180deg, #c4ff04 0%, #f0e 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.default-text {
  background: var(--txt-gradient, linear-gradient(180deg, #fff 0%, #fff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagehoc__container {
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
}
